.heading
{
	width: 1280px;
	height: 65px;
	background: #000;
	margin: 0 auto;
}
#logo, #search-box
{
	width: 100%;
	height: 50px;
	float: left;
	margin-left: 110px;
}

#upload-button
{
background: #ee7d7d;
margin-left: 0%;
border-radius: 2px;
height: 1px;
margin-top: 2%;
}


input[type="file"]
{
	background: #ee7d7d;
	display: none;
}


input[type="text"],
input[type="text2"],
textarea{
	border-radius: 2px;
}

#trending-web
{
	width: 950px;
	height: 310px;
	background: #f2f2f2;
	margin: 0 auto;
	margin-top: 10px;


}

.photo-container
{

background: #f2f2f2;
width: 247px;
margin-top: 11px;
margin-left: 103px;
height: 300px;

}

#instructions
{

margin-top: 9px;
margin-left: -12px;

}


/*MOBILE CSS*/
#trending-mobile {
	display: none;
}

@media screen and (max-width: 500px){
	#trending-web {
		display: none!important;
	}

	#trending-mobile {
		display: block!important;
	}

}

h3
{
font-size: 27px;
font-style: italic;
color: #ffffff;
margin-left: -34%;
}

h4
{
font-size: 15px;
color: #EE7D7D;
margin-top: -14px;
margin-left: -25%;
}

h5
{
	font-size: 12px;
	margin-top: -7px;
	color: #181818;
}

h6
{
	font-size: 12px;
	margin-top: -7px;
	color: #181818;
	text-decoration: underline;
}

a{
	font-size: 12px;
	margin-top: -7px;
	color: #181818;
	text-decoration: underline;

}

p
{
	font-size: 12px;
	margin-top: -7px;
	color: #181818;
	font-weight: bold;
	height: 3px;

}


body{text-align: center;background: #f2f6f8;}
.img{position:absolute;z-index:1;}

#canvas 
{
	width:300px; 
	height:400px;
	margin: 0 auto; 
    position:relative; 
    border:5px solid black; 
    border-radius: 10px; 
    box-shadow: 0 5px 50px #333;
    /*background-image: url('../img/model.JPG'); 	set backgroud*/
    background-repeat: no-repeat; 			/*background no repeat*/
}
